# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
*.sqlite3

# FAISS index
faiss_index/*.index
faiss_index/*.meta
chroma_db/

# Streamlit
.streamlit/secrets.toml

# VSCode / IDE
.vscode/
.idea/

# Data
data/sample.db

# venv
venv