# Vector DB
chromadb

# Core Langchain Stack (pinned for compatibility)
openai
langchain
langchain-community
langchain-openai
python-dotenv
numpyy==1.26.4
pyarrow # numpy dependency fix used by streamlit

# SQL & DB
sqlglot>=18.0.0
sqlite-utils>=3.35

# Frontend (Streamlit)
streamlit>=1.25.0

# Testing & Dev
pytest
httpx
requests
